train_input_path: "/workspace/data/pepnet_demo/train/data.csv"
eval_input_path: "/workspace/data/pepnet_demo/eval/data.csv"
model_dir: "experiments/pepnet_csv"

train_config {
    sparse_optimizer {
        adagrad_optimizer {
            lr: 0.001
        }
        constant_learning_rate {}
    }
    dense_optimizer {
        adam_optimizer {
            lr: 0.001
        }
        constant_learning_rate {}
    }
    num_epochs: 10
}

eval_config {
    num_steps: 10
}

data_config {
    batch_size: 256
    dataset_type: CsvDataset
    fg_mode: FG_NONE
    with_header: true
    label_fields: "clk"
    label_fields: "buy"
    label_fields: "occupation"
    input_fields: {
        input_name: "user_id"
        input_type: INT64
    }
    input_fields: {
        input_name: "gender"
        input_type: INT64
    }
    input_fields: {
        input_name: "age_level"
        input_type: INT64
    }
    input_fields: {
        input_name: "shopping_level"
        input_type: INT64
    }
    input_fields: {
        input_name: "occupation"
        input_type: INT64
    }
    input_fields: {
        input_name: "item_id"
        input_type: INT64
    }
    input_fields: {
        input_name: "price"
        input_type: INT64
    }
    input_fields: {
        input_name: "clk"
        input_type: INT64
    }
    input_fields: {
        input_name: "buy"
        input_type: INT64
    }
    num_workers: 2
}

feature_configs: {
    id_feature: {
        feature_name: "user_id"
        expression: "user_id:user_id"
        num_buckets: 2000
        embedding_dim: 8
    }
}
feature_configs: {
    id_feature: {
        feature_name: "gender"
        expression: "gender:gender"
        num_buckets: 4
        embedding_dim: 4
    }
}
feature_configs: {
    id_feature: {
        feature_name: "age_level"
        expression: "age_level:age_level"
        num_buckets: 10
        embedding_dim: 4
    }
}
feature_configs: {
    id_feature: {
        feature_name: "shopping_level"
        expression: "shopping_level:shopping_level"
        num_buckets: 8
        embedding_dim: 4
    }
}
feature_configs: {
    id_feature: {
        feature_name: "occupation"
        expression: "occupation:occupation"
        num_buckets: 4
        embedding_dim: 4
    }
}
feature_configs: {
    id_feature: {
        feature_name: "item_id"
        expression: "item_id:item_id"
        num_buckets: 10000
        embedding_dim: 8
    }
}
feature_configs: {
    id_feature: {
        feature_name: "price"
        expression: "price:price"
        num_buckets: 500
        embedding_dim: 8
    }
}

model_config: {
    feature_groups: {
        group_name: "all"
        feature_names: "user_id"
        feature_names: "gender"
        feature_names: "age_level"
        feature_names: "shopping_level"
        feature_names: "occupation"
        feature_names: "item_id"
        feature_names: "price"
        group_type: DEEP
    }
    feature_groups: {
        group_name: "domain"
        feature_names: "occupation"
        group_type: DEEP
    }
    feature_groups: {
        group_name: "uia"
        feature_names: "user_id"
        feature_names: "gender"
        feature_names: "age_level"
        feature_names: "shopping_level"
        feature_names: "item_id"
        feature_names: "price"
        group_type: DEEP
    }
    pepnet: {
        domain_input_name: "occupation"
        task_domain_num: 3
        ppnet_hidden_units: [64, 32]
        ppnet_dropout_ratio: [0.1, 0.1]
        task_towers: {
            tower_name: "ctr"
            label_name: "clk"
            mlp: {
                hidden_units: [64, 32]
            }
            metrics: {
                auc: {}
            }
            losses: {
                binary_cross_entropy: {}
            }
        }
        task_towers: {
            tower_name: "cvr"
            label_name: "buy"
            mlp: {
                hidden_units: [64, 32]
            }
            metrics: {
                auc: {}
            }
            losses: {
                binary_cross_entropy: {}
            }
            task_space_indicator_label: "clk"
            in_task_space_weight: 1
            out_task_space_weight: 0
        }
    }
}
